# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5444/church"

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# CORS
CORS_ORIGIN="http://localhost:3000"

# Web
VITE_SERVER_URL="http://localhost:3000"

# Environment
NODE_ENV="development"


